h1 {
  font-size: 30px;
  font-style: oblique;  
  color: #4682B4
}
h3 {
  color: #1E90FF
}
p {
  line-height: 5px;
}
.year {
  text-decoration: underline
}
.explanation {
  font-style: oblique
}
.qualities {
  line-height: 17px;
}