body {
    background: url(../img/ep_naturalwhite.png) fixed;
    width: 70%;
    margin: 0 auto;
}
.img {
    text-align: center;
}
img {
    width: 90%;
    height: auto;
}
h1 {
    text-align: center;
    color: #D2691E;
}
ul {
    padding: 0;
}
ul li {
    text-align: center;
    list-style-type: none
}
h2 {
    text-align: center;
    color: #8B4513;
}
h3 {
    text-align: center;
    color: #A52A2A;
}
a:hover {
    margin-left: 7px;
    font-size: 17px;
}
p {
    line-height: 25px;
}
.anchor {
    display: block;
    margin-top: 50px;
}
